<section id="menu-bar">
    <div class="nav-bar">
        <div class="logo">
        <img class="logo-img" src="../../assets/logo.png" alt="">
        <span class="header">Project Management</span>
        </div>
        <div class="search">
            <!-- <p-button class="btn" label="Create Project" (click)="showDialog()"></p-button> -->
            <input class="input-box" type="text" pInputText placeholder="Search" />
            <div class="logout" (click)="op.toggle($event)">
                <img src="../../assets/logout.svg" alt="">
            </div>
            <p-overlayPanel #op>
                <span class="logOut-label" (click)="logout()">Log Out</span>
            </p-overlayPanel>
            <p-dialog class="dialog" header="Create Task" [modal]="true" [(visible)]="customTaskForm" [style]="{ width: '25rem' }">
                <div class="form-wrapper" [formGroup] = "taskForm">
                    <div class="form-group">
                        <div class="form">
                            <label class="label">Task</label>
                            <input class="input-box" type="text" pInputText  placeholder="Task" formControlName="task"/>
                        </div>
                        <div class="form">
                            <label class="label">Assign</label>
                            <p-dropdown [options]="teamMembers" optionValue="id" optionLabel="fullName" placeholder="Assign" formControlName="empId" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form">
                            <label class="label">Due Date</label>
                            <p-calendar [showIcon]="true" inputId="icondisplay" placeholder="Due Date" formControlName="dueDate" />
                        </div>
                        <div class="form">
                            <label class="label">Priority</label>
                            <p-dropdown [options]="priorityList" optionValue="id" optionLabel="name" placeholder="Priority" formControlName="priorityId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form">
                            <label class="label">Description</label>
                            <textarea rows="5" cols="30" pInputTextarea placeholder="Description" formControlName="description">
                        </textarea>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p-button label="Cancel" (click)="cancelForm()" />
                    <p-button label="Save" (click)="taskSaveData()" />
                </div>
            </p-dialog>
        </div>
    </div>
    <div class="body grid">
        <div class="col-3"> 
            <div *ngFor="let team of teamDetails">
                <div class="card" (click)="createTask()" >
                    <div class="pro-logo">
                        <img class="logo-img" src="../../assets/proLogo.png" alt="">
                        <span class="header">{{team.proName}}</span>
                    </div>
                    <div class="form-group">
                        <div class="form">
                            <label class="label">Team</label>
                            <span class="value">{{team.tlName}}</span>
                        </div>
                        <div class="form" >
                            <label class="label">Team Members</label>
                            <span class="members" *ngFor="let member of team.teamMembers">
                                <span class="value">{{ member.name }}</span>
                                <span class="designation">{{ member.designation }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="task-body"> 
                <div class="task-card" *ngFor="let task of taskDetails">
                    <div class="header">
                        <span class="name">{{task.empName}}</span>
                    </div>
                    <div class="task-wrapper">
                       <span class="task">{{task.task}}</span>
                       <span class="description">{{task.description}}</span>
                    </div>
                    <div class="footer" >
                      <span  [ngClass]="{'todo': task.progressId === 2, 'completed': task.progressId === 1}">{{task.progress}}</span>
                      <span [ngClass]="{'highest': task.priorityId === 1, 'high': task.priorityId === 2,'low': task.priorityId === 3,'lowest': task.priorityId === 4}">{{task.priority}}</span>
                      <span>{{task.dueDate | date: 'dd, MMM yyyy'}}</span>
                    </div>
             </div>
            </div>
        </div>
    </div>
</section>
