<section id="login">
    <div class="body">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/logo1.svg" alt="">
            </div>
            <div class="input-field">
                <span class="header">Login</span>
                <input class="input-box" type="text" pInputText />
                <p-password class="input-box"  [toggleMask]="true" />
                <p-button class="btn" label="Submit"></p-button>
            </div>
        </div>
    </div>
</section>