<section id="login">
    <div class="body">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/login.svg" alt="">
            </div>
            <div class="input-field" [formGroup] = "loginForm">
                <span class="header">Login</span>
                                  <input class="input-box" type="text" pInputText  placeholder="Email ID"  formControlName="email"/>
                                        <p-password class="input-box"  [toggleMask]="true" placeholder="Password"  formControlName="pass" />
                                      <p-button class="btn" label="Submit" (click)="login()"></p-button>
            </div>
        </div>
    </div>
</section>