<section id="menu-bar">
    <div class="nav-bar">
        <div class="logo">
        <img class="logo-img" src="../../assets/logo.png" alt="">
        <span class="header">Project Management</span>
        </div>
        <div class="search">
            <input class="input-box" type="text" pInputText placeholder="Search" />
            <div class="logout" (click)="op.toggle($event)">
                <img src="../../assets/logout.svg" alt="">
            </div>
            <p-overlayPanel #op>
                <span class="logOut-label" (click)="logout()">Log Out</span>
            </p-overlayPanel>
            <!-- <p-dialog class="dialog" header="Create Task" [modal]="true" [(visible)]="customTaskForm" [style]="{ width: '25rem' }">
                <div class="form-wrapper" [formGroup] = "taskForm">
                    <div class="form-group">
                        <div class="form">
                            <label class="label">Task</label>
                            <input class="input-box" type="text" pInputText  placeholder="Task" formControlName="task"/>
                        </div>
                        <div class="form">
                            <label class="label">Assign</label>
                            <p-dropdown [options]="teamMembers" optionValue="id" optionLabel="fullName" placeholder="Assign" formControlName="empId" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form">
                            <label class="label">Due Date</label>
                            <p-calendar [showIcon]="true" inputId="icondisplay" placeholder="Due Date" formControlName="dueDate" />
                        </div>
                        <div class="form">
                            <label class="label">Priority</label>
                            <p-dropdown [options]="priorityList" optionValue="id" optionLabel="name" placeholder="Priority" formControlName="priorityId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form">
                            <label class="label">Description</label>
                            <textarea rows="5" cols="30" pInputTextarea placeholder="Description" formControlName="description">
                        </textarea>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p-button label="Cancel" (click)="cancelForm()" />
                    <p-button label="Save" (click)="taskSaveData()" />
                </div>
            </p-dialog> -->
        </div>
    </div>
    <div class="body grid">
        <div class="col-3"> 
            <div class="task-body"> 
                <div *ngFor="let team of teamDetails">
                    <div class="card">
                        <div class="pro-logo">
                            <img class="logo-img" src="../../assets/proLogo.png" alt="">
                            <span class="header">{{team.proName}}</span>
                        </div>
                        <div class="form-group">
                            <div class="form">
                                <label class="label">Team</label>
                                <span class="value">{{team.tlName}}</span>
                            </div>
                            <div class="form" >
                                <label class="label">Team Members</label>
                                <span class="members" *ngFor="let member of team.teamMembers">
                                    <span class="value">{{ member.name }}</span>
                                    <span class="designation">{{ member.designation }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <p-table [columns]="cols" [value]="taskDetails" [tableStyle]="{ 'min-width': '50rem' }" selectionMode="single">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr (click)="openDialog(rowData)">
                        <td *ngFor="let col of columns">
                            <span *ngIf="col.field !== 'priority' && col.field !== 'progress'; else priorityProgress">
                                {{ rowData[col.field] }}
                            </span>
                            <ng-template #priorityProgress>
                                <span *ngIf="col.field === 'priority'" [ngClass]="{'highest': rowData[col.field] === 'Highest' , 'high': rowData[col.field] === 'High','low': rowData[col.field] === 'Low','lowest': rowData[col.field] === 'Lowest'}">
                                    {{ rowData[col.field] }}
                                </span>
                                <span *ngIf="col.field === 'progress'"  [ngClass]="{'todo': rowData[col.field] === 'To Do', 'completed': rowData[col.field] === 'Completed'}">
                                    {{ rowData[col.field] }}
                                </span>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</section>

<div id="dialog">
    <p-dialog class="dialog" header="Task completed" [modal]="true" [(visible)]="customDialog" [style]="{ width: '25rem' }">
        <div class="footer">
            <p-button label="Cancel" (click)="cancelForm()" />
            <p-button label="Save" (click)="saveProgressId()" />
        </div>
    </p-dialog>

</div>
