@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    font-family: "Figtree", sans-serif;
}
.p-button{
    background-color: #800080;
}

.p-overlaypanel .p-overlaypanel-content {
    font-size: 16px;
    font-weight: 600;
    color: #720e9e;
    cursor: pointer;

}

#login {

    .p-inputtext {
        width: 310px;
        height: 45px;
        font-size: 12px;
        font-weight: 500;
    }

    .p-element .p-icon-wrapper {
        top: 30%;
    }

    .p-button {
        width: 310px;
        height: 45px;
    }


}

#menu-bar {
    .p-dialog {
        width: 45% !important;
        height: 70%;

        .p-dialog-title {
            font-size: 26px;
            font-weight: 700;
            color: #720e9e;
        }

        .p-dialog-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .p-inputtext {
                font-size: 12px;
                font-weight: 500;
            }

            .p-inputwrapper {
                width: 381px;
                height: 40px;
            }

            .p-multiselect .p-multiselect-label.p-placeholder {
                font-size: 12px;
                font-weight: 500;
            }

            .p-calendar {
                width: 100%;
            }

            .p-calendar-w-btn .p-inputtext  {
                cursor: pointer;
            }
        }
    }
}

.p-datatable-wrapper {
    border-radius: 20px;
}
.p-datatable-thead > tr > th {
    font-size: 16px;
    font-weight: 600;
    color: #720e9e;
}

.p-datatable .p-datatable-tbody > tr > td {
    color: #51087E;
    font-size: 16px;
    font-weight: 400;
}

.p-datatable .p-datatable-tbody > tr {
    cursor: pointer;
}

#dialog {
    .p-dialog {
        .footer {
            display: flex;
            justify-content: end;
            gap: 10px;
        } 
    }
}


