* {
    margin: 0px;
}
#login {

    .input-box {
        width: 310px;
        height: 45px;
        font-size: 12px;
        font-weight: 500;
    }

    .p-element .p-icon-wrapper {
        top: 30%;
    }

    .p-button {
        width: 310px !important;
        height: 45px !important;
        background-color: #800080;
    }


}
